<h1>Score#index</h1>
<p>Find me in app/views/score/index.html.erb</p>
<%= form_tag 'score/index' do %>
    <%=label_tag 'search' %>
    <%=text_field_tag 'search'%>

    <div><%= submit_tag 'Search' %></div>
<% end %>

  <% @imslp_results.each do |result| %>
    <h1><%= result[0] %></h1>
    <% result[1].each do |tab| %>
              <% tab.each do |edition_group| %>
                  <% edition_group.each do |info_and_links| %>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <% info_and_links[0].each do |info| %>
                            <th><%= info[0] %></th>
                          <% end %>
                          <th>Download</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <% info_and_links[0].each do |info| %>
                            <td><%= info[1] %></td>
                          <% end %>
                          <td>
                          <% info_and_links[1].each do |link| %>
                            <%= link_to "<i class='fa fa-file-pdf-o' aria-hidden='true'></i>".html_safe + link.text , {:controller => "score", :action => "get_pdf", :pdf_url => "http://imslp.org" + link['href'] }%>
                          <% end %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                </ul>
              <% end %>
    <% end %>
    </br>
  <% end %>